/* 노멀라이즈 시작 */
body, ul, li {
    margin-left: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  /* 노멀라이즈 끝 */
/* 2차 메뉴 가두기 */
.side-bar > ul > li {
    position: relative;
  }
  
  
  /* 사이드바의 너비와 높이를 변수를 통해 통제 */
  :root {
    --side-bar-height: 100vh;
  }

  /* 2차 메뉴 숨기기 */
  .side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: auto;
    background-color: #666;
  }
  
  body {
    background-color: #667eb3;
    height: auto
  }
  
  .side-bar {
    position: fixed;
    border-radius: 20px;
    min-height: 100%;
    width: 100px;
    background-color: black;
    transition: .5s;
  }
  
  .side-bar ul > li {
    display: block;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
    white-space: nowrap;
  }

  .side-bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
    white-space: nowrap;
  }
  .side-bar {
    position: fixed;
    min-height: 100%;
    width: 60px;
    background-color: black;
    overflow: hidden;	/* 넘치는 메뉴 요소 숨기기 */
    transition: .5s;
  }
  
  /* 마우스 인식 시 너비 확장 */
  .side-bar:hover {
    width: 120px;
  }
  /* 2차 메뉴 공간 제한 해제 */
.side-bar:hover {
    width: 120px;
    overflow: visible;
  }
  
  .side-bar ul > li:hover > a {
    background-color: #888
  }
  
  .side-bar > ul > li:hover > ul {
    display: block;
  }
  
  /* 사이드바가 늘어나기 전 메뉴 노출 차단 */
  .side-bar > ul > li > a > span:last-child {
    opacity: 0;
    transition: .5s .1s;
  }
  
  .side-bar:hover > ul > li > a > span:last-child {
    opacity: 1;
  }
  
  .side-bar > ul > li > a > span > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .side-bar > ul > li > a > span {
    vertical-align: middle;
  }
